    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">אודותינו</h2>
                <p class="lead">
                  אנו מבצעים מגוון עבודות בניה תוך דגש על בטיחות בעבודה
                  עם צוות מיומן עם ניסיון של שנים בתחום, תוך התחדשות
                  בטכניקות וטכנולוגיות המובילות בתחום הבניה.
                </p>
                  כמו כן, אנו מספקים מגוון שירותים נוספים:
                <ul class="list-inline">
                  <li class="label label-default">
                    עבודות איטום/בידוד קירות, מרתפים, גגות ועוד
                  </li>
                  <li class="label label-default">
                    עבודות אינסטלציה
                  </li>
                  <li class="label label-default">
                    ביצוע בדק למבנים
                  </li>
                  <li class="label label-default">
                    חיזוק / החלפה של אריחים לחיפוי בניין
                  </li>
                  <li class="label label-default">
                    עבודות טיח
                  </li>
                  <li class="label label-default">
                    עבודות צבע
                  </li>
                  <li class="label label-default">
                    שיקום בטון
                  </li>
                  <li class="label label-default">
                    עבודות תשתית כולל טיפול וחידוש מבנים ישנים
                  </li>
                </ul>
                <div class="text-center">
                  <a href="#services" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                  </a>
                </div>
            </div>
        </div>
    </section>
