    <!-- Services Section -->
    <section id="services" class="container content-section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">שירותים</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">איטום</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="media-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img alt="איטום" class="media-object img-circle img-responsive"
                              style="max-width: 8em"
                              src="{{ "/img/square1.jpg" | prepend: site.baseurl }}">
                          </a>
                        </div>
                        <div class="media-body">
                          בבנייה מתבצעת פעולת האיטום על מנת למנוע חדירה של מים או
                          רטיבות אל תוך החלק הפנימי של המבנה.
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-footer text-center">
                    <a class="btn btn-primary form-control">עוד...</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">שימור</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="media-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img alt="איטום" class="media-object img-circle img-responsive"
                              style="max-width: 8em"
                              src="{{ "/img/square2.jpg" | prepend: site.baseurl }}">
                          </a>
                        </div>
                        <div class="media-body">
                            שימור מבנים היא פעולה אדריכלית-הנדסית שנועדה לחדש
                            מבנים בעלי חשיבות היסטורית, תרבותית ואדריכלית.
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-footer text-center">
                    <a class="btn btn-primary form-control">עוד...</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">תחזוקה</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="media-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img alt="איטום" class="media-object img-circle img-responsive"
                              style="max-width: 8em"
                              src="{{ "/img/square3.jpg" | prepend: site.baseurl }}">
                          </a>
                        </div>
                        <div class="media-body">
                            תחזוקת מבנים היא התחום שבמסגרתו מתבצעות עבודות ופעולות
                            עבודות במבנה לשם שמירה על תפקוד תקין של מסד המבנה ומערכותיו.
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-footer text-center">
                    <a class="btn btn-primary form-control">עוד...</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="text-center">
          <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>
